<div class='mx-8'>
  <%= form_with(model: transfer) do |form| %>
    <% if transfer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

        <ul>
          <% transfer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-row ">
      <div class="flex flex-col w-full">
      <div class="-my-2 overflow-x-auto">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="mt-12 shadow-lg overflow-hidden border border-gray-200 sm:rounded-lg">
            <div class="text-center text-3xl my-3 font-semibold"><%= @budget.name %></div>
            <table class="min-w-full divide-y divide-gray-200 border-b border-gray-200">
              <thead class="bg-gray-50">
                <tr>
                <th></th>
                  <th scope="col" class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">
                    Description
                  </th>
                  <th scope="col" class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">
                    Category
                  </th>
                  <th scope="col" class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">
                    Amount
                  </th>
                  <th scope="col" class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">
                    Bought
                  </th>
                </tr>
              </thead>
              <tbody>
              <% Item.where(["budget_id = #{@budget.id}"]).each do |i| %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <% if i.transfer_id.nil? %>
                      <%= form.check_box(:items, { :multiple => true, checked: true }, i.id, nil) %>
                    <%else%>
                      <p>-</p>
                    <%end%>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="">
                        <div class=" font-medium text-gray-900">
                          <%= i.name %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class=" font-medium text-gray-900">
                          <%= i.description %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class=" font-medium text-gray-900">
                          <%= i.category.name %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class=" font-medium text-gray-900">
                          <%= i.amount %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class=" font-medium  text-gray-900">
                          <%= i.transfer_id.nil? ? '<div>&#x2718;</div>'.html_safe : '<div class="text-xl">&#x2713;</div>'.html_safe %>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <% end %>

              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="font-bold text-lg mx-12 pt-4 ">You can generate a Transfer, for the items selected above</p>
    <div class="mx-8 my-2 shadow-lg border py-2 px-12 rounded-lg flex justify-between">
   
    <div class="field text-lg">
      <%= form.label :date %>
      <div class="flex justify-between p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full  border-gray-300 rounded-md">
      <%= form.date_select :date %>
      </div>
    </div>
  
    <div class="field text-lg">
      <%= form.label :concept %>
      <%= form.text_field :concept, class: "p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full border-gray-300 rounded-md", placeholder: "Concept" %>
    </div>

    <div class="field text-lg">
      <%= form.label :account_id , class: "flex w-full"  %>
      <div class="flex justify-center p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full  border-gray-300 rounded-md">
      <%= form.collection_select :account_id, Account.where(user_id: current_user.id), :id, :name %>
      </div>
    </div>

    <div class="actions">
      <div class="flex w-full">
        <%= form.submit "Generate Transfer", :class=> "my-3 w-full flex justify-center py-2 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  %>
      </div>
    </div>
  </div>
  <% end %>
